.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
z-index: 1000;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 45px;
  margin: 10px auto;
  max-width: 600px;
  padding: 0 20px;
  background-color: gray;
  font-size: 25px;
  font-family: "Ubuntu" ;
  padding-top: 10px;
  border-radius: 6px;
}
.navbar ul a {  
  margin: 0 15px; 
  text-decoration: none;
}

.navbar ul a{
 color: white;
 position: relative;
}

.navbar ul a::before{
  left: -1.0em; 
  opacity: 0; 
  transition: opacity 0.3s; 
}

.navbar ul a:hover {
  color: lightseagreen; 
}

#logo{
  position: absolute;
margin-top: -75px;
}
